<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Auth Connect Sample
      </ion-title>     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Auth Connect</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex-center">
    <div *ngIf="(authenticationChange$ | async);then authenticated else unauthenticated">here is ignored</div>
    <ng-template #authenticated>
      <ion-label>Thanks for signing in.</ion-label><br/>
      <ion-button (click)="logout()">Sign Out</ion-button>
    </ng-template>
    <ng-template #unauthenticated>
      <ion-label>You need to sign in to continue.</ion-label><br/>
      <ion-button (click)="login()">Sign In</ion-button>
    </ng-template>
    
    
  </div>
</ion-content>